/* static/css/style.css */

#searchDiv {
    background-color: aliceblue;
    font-family: Arial;
    padding: 10px;
    margin: 10px;
}

.list {
    font-family: Tahoma;
}

.venue {
    margin: 5px;
}

.error {
    color: red;
    font-weight: bold;
    font-family: Tahoma;
    margin: 20px;
}

