/* static/css/style.css */

#searchDiv {
    background-color: aliceblue;
    font-family: Arial;
    padding: 10px;
    margin: 10px;
}

#searchButton {
}

#resultsDiv {
}

.list {
    font-family: Tahoma;
}

.venue {
    margin: 5px;
}

.errorMsg {
}

